@using Microsoft.AspNetCore.Identity
@inject SignInManager<AplicationUser> SignInManager
@inject UserManager<AplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    // Obtener el usuario autenticado
    var usuario = await UserManager.GetUserAsync(User);
    var imagen = usuario?.Imagen;

    <li class="nav-item">
            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                @if (!string.IsNullOrEmpty(imagen))
                {
                    <img src="@imagen" alt="Perfil" class="profile-img rounded-circle me-2 mt-2">
                }
                else
                {
                    <img src="~/images/perfil-default.png" alt="Perfil por defecto" class="profile-img rounded-circle me-2 mt-2">
                }
                Hola @User.Identity?.Name!
            </a>
            
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-white">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Register">Registrate</a>
    </li>
    <li class="nav-item">
            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
