@{
    ViewData["Title"] = "Catálogo";
}

@section Styles {
    <link rel="stylesheet" href="~/css/catalogo.css" />
}

@section Scripts {
    <script src="~/js/catalogo.js"></script>
}

<div id="botones2" class="botones">
    <div class="borde me-3">
        <button type="button" class="btnexpo btn btn-dark">
            Limpiar filtros
        </button>
    </div>
    <div class="borde me-3">
        <!-- Debe de llevar a la pantalla ExplorarPorGeneros -->
        <button type="button" class="btnexpo btn btn-dark">
            Explorar todos los géneros
        </button>
    </div>
    <div class="borde me-3">
        <!-- Debe de llevar a la pantalla Autores -->
        <button type="button" class="btnexpo btn btn-dark">
            Explorar todos los autores
        </button>
    </div>
</div>
<h1>Catálogo</h1>
<p>Filtrar por:</p>
<div class="botones mb-3">
    <div class="botones">
        <div class="dropdown me-3">
            <button class="btn btn-secondary dropdown-toggle drop-downs" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Autor
            </button>
            <ul id="listaAutor" class="dropdown-menu">
            </ul>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle drop-downs" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Género
            </button>
            <ul id="listaGenero" class="dropdown-menu">
            </ul>
        </div>
    </div>
</div>
<div id="contenido" class="tabla">
    <!-- Contenido, para el estatico todo está en el js -->
</div>
<div class="divBtn mt-4">
    <button type="button" id="btnMas" class="btn btn-lg btn-dark">Mostrar más</button>
</div>