@model Biblioteca.Models.dbModels.Autor

@{
    ViewData["Title"] = "Detalles de Nuestros Autores";
}

@section Styles {
    <link rel="stylesheet" href="~/css/administrar-elementos.css" />
}

<h1>Detalles</h1>

<div>
    <h4>Nuestro Autor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>
        <dd class = "col-sm-10">
            <img class="foto" src="@Html.DisplayFor(model => model.Imagen)" alt="" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-dark">Ver Todos los Autores</a>
</div>
