@{
    ViewData["Title"] = "Estadísticas";
}

@section Styles {
    <link rel="stylesheet" href="~/css/estadisticas.css" />
}

@section Scripts {
    <!-- Apache Echarts -->
    <script src="https://fastly.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>
    <script src="~/js/estadisticas.js"></script>
}

<h1>Estadísticas</h1>
<div class="tarjeta mb-3">
    <div class="card-body">
        <h3 class="card-title mb-3">Usuarios</h3>
        <div class="row">
            <div class="column">
                <h6 class="mb-2">Cantidad de usuarios:</h6>
                <p class="ms-4">Administradores: #<!-- Cantidad --><br>Lectores: #<!-- Cantidad --></p>
                <h6 class="mb-2">Género:</h6>
                <p class="ms-4">Hombres: #<!-- Cantidad --><br>Mujeres: <!-- Cantidad --></p>
                <h6 class="mb-2">Edad promedio: 30<!-- Cantidad, puede sacarse el promedio de la consulta de las edades --> años</h6>
                <!-- Aqui el grafico es con js, se deberia de modificar para pasarle los datos y hacer el grafico con eso -->
                <div id="graficoedades"></div>
            </div>
            <div class="column">
                <div class="tabla-contenedor">
                    <table class="tabla-fija">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Edad</th>
                                <th>Cantidad de usuarios</th>
                            </tr>
                        </thead>
                        <tbody id="tablaedades">
                            <!-- Consulta de todas las edades y la cantidad de usuarios de cada una -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tarjeta mb-3">
    <div class="card-body">
        <h3 class="card-title mb-3">Libros más pedidos</h3>
        <div class="row">
            <div class="column">
                <div class="tabla-contenedor">
                    <table class="tabla-fija">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Título</th>
                                <th>Género</th>
                                <th>Autor</th>
                                <th>Pedidos</th>
                            </tr>
                        </thead>
                        <tbody id="tablapedidos">
                            <!-- Consulta de los libros mas pedidos y ordenados de mayor a menor, arriba estan los datos que se piden de cada elemento, pedidos es la cantidad de veces que se pidio ese libro, son solo los del ultimo mes  -->
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="column">
                <h6 class="mb-2">Géneros:</h6>
                <!-- Otro grafico -->
                <div id="graficopedidos"></div>
            </div>
        </div>
    </div>
</div>
<div class="tarjeta mb-3">
    <div class="card-body">
        <h3 class="card-title mb-3">Libros más gustados</h3>
        <div class="row">
            <div class="column">
                <div class="tabla-contenedor">
                    <table class="tabla-fija">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Título</th>
                                <th>Género</th>
                                <th>Autor</th>
                                <th>Likes</th>
                            </tr>
                        </thead>
                        <tbody id="tablagustadoslibros">
                            <!-- Otra consulta, tambien solo del ultimo mes -->
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="column">
                <h6 class="mb-2">Géneros:</h6>
                <!-- Otro grafico -->
                <div id="graficogustadoslibros"></div>
            </div>
        </div>
    </div>
</div>
<div class="tarjeta">
    <div class="card-body">
        <h3 class="card-title mb-3">Autores más gustados</h3>
        <div class="tabla-contenedor">
            <table class="tabla-fija">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Likes</th>
                    </tr>
                </thead>
                <tbody id="tablagustadosautores">
                    <!-- Otra consulta, igual, del ultimo mes -->
                </tbody>
            </table>
        </div>
    </div>
</div>