@{
    ViewData["Title"] = "DetallesPrestamo";
}

@section Styles {
    <link rel="stylesheet" href="~/css/vista-elementos.css" />
}

@section Scripts {
    <script src="~/js/vista-libro.js"></script>
}

<div class="elementos">
    <img src="../Imagenes/Prueba/El principito.png" alt="Portada del libro" class="libro" style="width: 150px; height: 200px; margin-right: 20px;">

    <div class="contenido">
        <h2>Folio:</h2>
        <p class="ms-4 mb-4 text-body-secondary"></p>

        <h2>Título:</h2>
        <p class="ms-4 mb-4 text-body-secondary">El principito</p>

        <h2>Autor:</h2>
        <p class="ms-4 mb-4 text-body-secondary">Antoine de Saint-Exupéry</p>

        <h2>Usuario solicitante:</h2>
        <p class="ms-4 mb-4 text-body-secondary"></p>

        <h2>Fechas:</h2>
        <p class="ms-4 mb-4 text-body-secondary">Desde: <input type="date"> Hasta: <input type="date"></p>
    </div>
</div>
<div class="text-center mt-4">
    <a href="otra_pagina.html" class="btn btn-primary">Hecho</a>
</div>