@model Biblioteca.Models.ViewModels

@{
    ViewData["Title"] = "Editar";
}

@section Styles {
    <link rel="stylesheet" href="~/css/administrar-elementos.css" />
}

<h1>Editar</h1>

<h4>Libro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="LibroUpdate.Titulo" class="control-label"></label>
                <input asp-for="LibroUpdate.Titulo" class="form-control" />
                <span asp-validation-for="LibroUpdate.Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LibroUpdate.AutorId" class="control-label"></label>
                <select asp-for="LibroUpdate.AutorId" class="form-select" asp-items="Model.SelectListsAutores"></select>
                <span asp-validation-for="LibroUpdate.AutorId" class="text-danger"></span>>
            </div>
            <div class="form-group">
                <label asp-for="LibroUpdate.GeneroId" class="control-label"></label>
                <select asp-for="LibroUpdate.GeneroId" class="form-select" asp-items="Model.SelectListsGeneros"></select>
                <span asp-validation-for="LibroUpdate.GeneroId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LibroUpdate.Editorial" class="control-label"></label>
                <input asp-for="LibroUpdate.Editorial" class="form-control" />
                <span asp-validation-for="LibroUpdate.Editorial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LibroUpdate.Sinopsis" class="control-label"></label>
                <input asp-for="LibroUpdate.Sinopsis" class="form-control" />
                <span asp-validation-for="LibroUpdate.Sinopsis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LibroUpdate.Cantidad" class="control-label"></label>
                <input asp-for="LibroUpdate.Cantidad" class="form-control" />
                <span asp-validation-for="LibroUpdate.Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LibroUpdate.FechaCreacion" class="control-label"></label>
                <input asp-for="LibroUpdate.FechaCreacion" class="form-control" />
                <span asp-validation-for="LibroUpdate.FechaCreacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LibroUpdate.Imagen" class="control-label"></label>
                <input asp-for="LibroUpdate.Imagen" class="form-control" />
                <span asp-validation-for="LibroUpdate.Imagen" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index" class="btn btn-dark">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
