@{
    ViewData["Title"] = "Advertencia";
}

@section Styles {
    <link rel="stylesheet" href="~/css/acceso-denegado.css" />
}

<body>
    <div>
        <div class="alerta">
            <div class="alerta-contenido">
                <h2>Aviso</h2>
                <p>Recuerde devolver</p>
                <p>el libro <strong>"Título"</strong> antes</p>
                <p>de la fecha <strong>dd/mm/aa</strong></p>
                <p>Gracias por su responsabilidad</p>
                <button id="aceptar" onclick="location.href='../index.html'">Aceptar</button>
            </div>
        </div>
    </div>
</body>