@{
    ViewData["Title"] = "EncontrarLibro";
}

@section Styles {
    <link rel="stylesheet" href="~/css/acerca.css" />
}

<div class="container mt-5">
    <h2 class="text-center mb-4">Encontrar un Libro</h2>
    <p class="text-center mb-5">
        Busca tu libro favorito en nuestra biblioteca y realiza una solicitud para pedirlo. Solo tienes que dar click en el libro deseado.
    </p>
</div>
<div class="container text-center mb-5">
    <div class="row justify-content-center">
        <!-- Imagen 1 -->
        <div class="col-md-3 mb-4">
            <img src="~/images/libro.png" class="img-fluid rounded" alt="Imagen 1">
        </div>
        <!-- Imagen 2 -->
        <div class="col-md-3 mb-4">
            <img src="~/images/libro.png" class="img-fluid rounded" alt="Imagen 2">
        </div>
        <!-- Imagen 3 -->
        <div class="col-md-3 mb-4">
            <img src="~/images/libro.png" class="img-fluid rounded" alt="Imagen 3">
        </div>
    </div>
</div>