@model Biblioteca.Models.dbModels.LibroFavorito

@{
    ViewData["Title"] = "Quitar Libro de Favoritos";
}

@section Styles {
    <link rel="stylesheet" href="~/css/administrar-elementos.css" />
}

<h1>Quitar de Favoritos</h1>

<h3>¿Estas seguro de querer quitar de favoritos a este libro?</h3>
<div>
    <h4>LibroFavorito</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Libro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Libro.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class="col-sm-10">
            <img class="foto" src="@Html.DisplayFor(model => model.Libro.Imagen)" alt="" />
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="UsuarioId" />
        <input type="hidden" asp-for="LibroId" />
        <input type="submit" value="Quitar de Favoritos" class="btn btn-danger me-3" /> |
        <a asp-action="Index" class="btn btn-dark">Volver</a>
    </form>
</div>
