@{
    ViewData["Title"] = "Colección";
}

@section Styles {
    <link rel="stylesheet" href="~/css/administrar.css" />
}

@section Scripts {
    <script src="~/js/coleccion.js"></script>
}

<h1>Colección</h1>
<br />
<div id="contbtns">
    <a asp-controller="AutorFavoritoes" asp-action="Index" type="button" class="btns btn btn-dark">
        Autores Favoritos
    </a>
    <a asp-controller="LibroFavoritoes" asp-action="Index" type="button" class="btns btn btn-dark">
        Libros Favoritos
    </a>
</div>