@{
    ViewData["Title"] = "Colección";
}

@section Scripts {
    <script src="~/js/coleccion.js"></script>
}

<h1>Colección</h1>
<h2 class="mb-3">Libros favoritos</h2>
<div id="libros" class="tabla">
</div>
<h2 class="mt-5 mb-3">Autores favoritos</h2>
<div id="autores" class="tabla">
</div>