@{
    ViewData["Title"] = "En posesión";
}

@section Scripts {
    <script src="~/js/en-posesion.js"></script>
}

<h1>En posesión</h1>
<h2 class="mb-3">Libros que posees actualmente</h2>
<div id="libros" class="tabla">
    <!-- Contenido, hacer consulta de todos los libros que pidio el usuario, ya se le entregaron y que aun no devuelve -->
</div>
<h2 class="mt-5 mb-3">Folios pendientes</h2>
<div id="folios" class="tabla">
    <!-- Contenido, libros que ya pidio pero aun no se le entregan -->
</div>