.contenedor {
    text-align: justify;
}

.divBtn {
    text-align: center;
    width: 250px;
    margin-left: calc((100% - 250px) / 2);
}

.btn-lg {
    background-color: #ece7aa;
    color: black;
    font-size: large;
    font-weight: bolder;
    border: 2px solid black;
}

#estrella {
    background-color: transparent;
    border: none;
    color: #ffd700;
    font-size: 45px;
    cursor: pointer;
    padding: 10px 10px;
    position: absolute;
    top: 70px;
}
/* xm */
@media (max-width: 575px) {
    .autor {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-left: calc((100% - 300px) / 2);
    }

    .contenido {
        font-size: 20px;
        margin-top: 20px;
    }

    h2 {
        font-size: 25px;
    }

    #estrella {
        right: calc((100% - 300px) / 2);
        top: 80px;
    }
}

/* sm */
@media (min-width: 576px) {
    .elementos {
        display: flex;
    }

    .autor {
        width: 200px;
        height: 200px;
        border-radius: 50%; /* Hace la imagen circular */
        object-fit: cover;
    }

    .contenido {
        padding-left: 15px;
        font-size: 16px;
    }

    h2 {
        font-size: 20px;
    }

    #estrella {
        right: calc(((100% - 576px) / 2) + 20px);
    }
}

/* md */
@media (min-width: 768px) and (max-width: 1209px) {
    .autor {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        object-fit: cover;
    }

    .contenido {
        padding-left: 30px;
        font-size: 20px;
    }

    h2 {
        font-size: 25px;
    }

    #estrella {
        right: calc(((100% - 768px) / 2) + 20px);
    }
}

/* xl */
@media (min-width: 1210px) {
    .autor {
        width: 350px;
        height: 350px;
        border-radius: 50%;
        object-fit: cover;
    }

    .contenido {
        padding-left: 30px;
        font-size: 30px;
    }

    #estrella {
        right: calc(((100% - 1210px) / 2) + 10px);
    }
}

/* xxl */
@media (min-width: 1390px) {
    #estrella {
        right: calc(((100% - 1390px) / 2) + 10px);
    }
}

/* xxxl */
@media (min-width: 1570px) {
    #estrella {
        right: calc(((100% - 1570px) / 2) + 10px);
    }
}
