@{
    ViewData["Title"] = "Crear o editar género";
}

@section Styles {
    <link rel="stylesheet" href="~/css/vista-elementos.css" />
}

<h1>Crear o editar género</h1>
<h2>Nombre:</h2>
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Nombre del género" aria-label="Username" aria-describedby="basic-addon1">
</div>
<div class="divBtn mt-4">
    <a asp-controller="Administrar" asp-action="Generos" type="button" class="btn btn-lg btn-dark">Hecho</a>
</div>