@{
    ViewData["Title"] = "Crear o editar autor";
}

@section Styles {
    <link rel="stylesheet" href="~/css/vista-elementos.css" />
}

@section Scripts {
    <!-- Bytescale -->
    <script src="https://js.bytescale.com/sdk/v3"></script>
    <script src="~/js/crear-editar-autor.js"></script>
}

<h1>Crear o editar autor</h1>
<div class="elementos">
    <figure>
        <img src="~/Images/perfil-default.png" alt="Autor" class="rounded-circle autor" id="autorImage" style="cursor: pointer;">
        <figcaption class="mt-2" id="captionText">Añade la foto del autor</figcaption>
    </figure>
    <input type="file" id="fileInput" onchange="onFileSelected(event)" />
    <div class="contenido">
        <h2>Nombre:</h2>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Nombre del autor" aria-label="Username" aria-describedby="basic-addon1">
        </div>
    </div>
</div>
<div class="divBtn mt-4">
    <a href="administrar-autores.html" type="button" class="btn btn-lg btn-dark">Hecho</a>
</div>