@{
    ViewData["Title"] = "Administrar usuarios";
}

@section Styles {
    <link rel="stylesheet" href="~/css/administrar-elementos.css" />
}

@section Scripts {
    <script src="~/js/administrar-usuarios.js"></script>
}

<h1>Administrar usuarios</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Correo</th>
            <th scope="col">Edad</th>
            <th scope="col">Género</th>
            <th scope="col">Rol</th>
            <th scope="col">Imagen</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody id="contenido">
        <!-- Contenido, el estatico se genera con js -->
    </tbody>
</table>
<!-- Modal Eliminar, es el mismo para autores, catalogo, generos, y usuarios. Solo cambia la palabra autor, genero, libro y usuario -->
<div class="modal fade" id="modalEliminar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar elemento</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Estás seguro que quieres eliminar este usuario?
            </div>
            <div class="modal-footer" id="footerEliminar">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
            </div>
        </div>
    </div>
</div>