@{
    ViewData["Title"] = "ExplorarUnGeneros";
}

@section Styles {
    <link rel="stylesheet" href="~/css/explorar-genero.css" />
}

@section Scripts {
    <script src="~/js/explorar-genero.js"></script>
}

<h1>Genero: Literatura infantil </h1>
<h2 class="mb-3">A</h2>
<div class="tabla">
    <div class="card">
        <a href="vista-libro.html" class="card-link">
            <img src="../Imagenes/Prueba/Ana de las tejas verdes.png" class="card-img-top libro" alt="...">
        </a>
        <div class="card-body">
            <h5 class="card-title">Ana de las tejas verdes</h5>
        </div>
    </div>
    <div class="card">
        <a href="vista-libro.html" class="card-link">
            <img src="../Imagenes/Prueba/Ana de las tejas verdes.png" class="card-img-top libro" alt="...">
        </a>
        <div class="card-body">
            <h5 class="card-title">Ana de las tejas verdes</h5>
        </div>
    </div>
    <div class="card">
        <a href="vista-libro.html" class="card-link">
            <img src="../Imagenes/Prueba/Ana de las tejas verdes.png" class="card-img-top libro" alt="...">
        </a>
        <div class="card-body">
            <h5 class="card-title">Ana de las tejas verdes</h5>
        </div>
    </div>
    <div class="card">
        <a href="vista-libro.html" class="card-link">
            <img src="../Imagenes/Prueba/Ana de las tejas verdes.png" class="card-img-top libro" alt="...">
        </a>
        <div class="card-body">
            <h5 class="card-title">Ana de las tejas verdes</h5>
        </div>
    </div>
    <div class="card">
        <a href="vista-libro.html" class="card-link">
            <img src="../Imagenes/Prueba/Ana de las tejas verdes.png" class="card-img-top libro" alt="...">
        </a>
        <div class="card-body">
            <h5 class="card-title">Ana de las tejas verdes</h5>
        </div>
    </div>
    <div class="card">
        <a href="vista-libro.html" class="card-link">
            <img src="../Imagenes/Prueba/Ana de las tejas verdes.png" class="card-img-top libro" alt="...">
        </a>
        <div class="card-body">
            <h5 class="card-title">Ana de las tejas verdes</h5>
        </div>
    </div>
    <div class="card">
        <a href="vista-libro.html" class="card-link">
            <img src="../Imagenes/Prueba/Ana de las tejas verdes.png" class="card-img-top libro" alt="...">
        </a>
        <div class="card-body">
            <h5 class="card-title">Ana de las tejas verdes</h5>
        </div>
    </div>
    <div class="card">
        <a href="vista-libro.html" class="card-link">
            <img src="../Imagenes/Prueba/Ana de las tejas verdes.png" class="card-img-top libro" alt="...">
        </a>
        <div class="card-body">
            <h5 class="card-title">Ana de las tejas verdes</h5>
        </div>
    </div>
    <div class="card">
        <a href="vista-libro.html" class="card-link">
            <img src="../Imagenes/Prueba/Ana de las tejas verdes.png" class="card-img-top libro" alt="...">
        </a>
        <div class="card-body">
            <h5 class="card-title">Ana de las tejas verdes</h5>
        </div>
    </div>
    <div class="card">
        <a href="vista-libro.html" class="card-link">
            <img src="../Imagenes/Prueba/Ana de las tejas verdes.png" class="card-img-top libro" alt="...">
        </a>
        <div class="card-body">
            <h5 class="card-title">Ana de las tejas verdes</h5>
        </div>
    </div>
</div>
