@{
    ViewData["Title"] = "ExplorarAutores";
}

@section Styles {
        <link rel="stylesheet" href="~/css/explorar-genero.css" />
}

@section Scripts {
        <script src="~/js/explorar-genero.js"></script>
}

<div class="container mt-5">
                <h2 class="text-center mb-4">Autores</h2>
                <!-- Sección A -->
                <div class="row justify-content-center mb-4">
                    <div class="col-auto">
                        <div class="card border-0">
                            <a href="../Pantallas/vista-autor.html" class="card-link">
                                <img src="../Imagenes/Prueba/Autores/Ana Frank.jpg" class="card-img-top rounded-circle" alt="Ana Frank">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title text-center">Ana Frank</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="card border-0">
                            <a href="../Pantallas/vista-autor.html" class="card-link">
                                <img src="../Imagenes/Prueba/Autores/Edgar Allan Poe.jpeg" class="card-img-top rounded-circle" alt="Edgar Allan Poe">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title text-center">Edgar Allan Poe</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="card border-0">
                            <a href="../Pantallas/vista-autor.html" class="card-link">
                                <img src="../Imagenes/Prueba/Autores/H. P. Lovecraft.jpg" class="card-img-top rounded-circle" alt="H. P. Lovecraft">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title text-center">H. P. Lovecraft</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="card border-0">
                            <a href="../Pantallas/vista-autor.html" class="card-link">
                                <img src="../Imagenes/Prueba/Autores/J. K. Rowling.jpeg" class="card-img-top rounded-circle" alt="J. K. Rowling">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title text-center">J. K. Rowling</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="card border-0">
                            <a href="../Pantallas/vista-autor.html" class="card-link">
                                <img src="../Imagenes/Prueba/Autores/J. R. R. Tolkien.png" class="card-img-top rounded-circle" alt="J. R. R. Tolkien">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title text-center">J. R. R. Tolkien</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center mb-4">
                    <div class="col-auto">
                        <div class="card border-0">
                            <a href="../Pantallas/vista-autor.html" class="card-link">
                                <img src="../Imagenes/Prueba/Autores/Julio Verne.jpeg" class="card-img-top rounded-circle" alt="Julio Verne">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title text-center">Julio Verne</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="card border-0">
                            <a href="../Pantallas/vista-autor.html" class="card-link">
                                <img src="../Imagenes/Prueba/Autores/Lewis Carroll.jpeg" class="card-img-top rounded-circle" alt="Lewis Carroll">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title text-center">Lewis Carroll</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="card border-0">
                            <a href="../Pantallas/vista-autor.html" class="card-link">
                                <img src="../Imagenes/Prueba/Autores/Lucy Maud Montgomery.jpeg" class="card-img-top rounded-circle" alt="Lucy Maud Montgomery">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title text-center">Lucy Maud Montgomery</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="card border-0">
                            <a href="../Pantallas/vista-autor.html" class="card-link">
                                <img src="../Imagenes/Prueba/Autores/Sor Juana Ines de la Cruz.jpg" class="card-img-top rounded-circle" alt="Sor Juana Ines de la Cruz">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title text-center">Sor Juana Ines de la Cruz</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="card border-0">
                            <a href="../Pantallas/vista-autor.html" class="card-link">
                                <img src="../Imagenes/Prueba/Autores/Stephen King.jpg" class="card-img-top rounded-circle" alt="Stephen King">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title text-center">Stephen King</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary">Mostrar más</button>
                </div>
            </div>