@{
    ViewData["Title"] = "Explorar";
}

@section Styles {
    <link rel="stylesheet" href="~/css/explorar.css" />
}

@section Scripts {
    <script src="~/js/explorar.js"></script>
}

<h1>Explorar</h1>
<h2>Géneros</h2>
<div id="carouselExample" class="carousel carousel-dark mb-3">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <button type="button" class="genero generoselect btn btn-lg btn-dark me-3" id="1">
                <!-- los 10 generos mas populares dentro de los libros mas gustados en el ultimo mes -->
                Literatura infantil
            </button>
        </div>
        <div class="carousel-item">
            <button type="button" class="genero btn btn-lg btn-dark me-3" id="2">
                Fantasía
            </button>
        </div>
        <div class="carousel-item">
            <button type="button" class="genero btn btn-lg btn-dark me-3" id="3">
                Autobibliográfia
            </button>
        </div>
        <div class="carousel-item">
            <button type="button" class="genero btn btn-lg btn-dark me-3" id="4">
                Cientifico
            </button>
        </div>
        <div class="carousel-item">
            <button type="button" class="genero btn btn-lg btn-dark me-3" id="5">
                Cuento
            </button>
        </div>
        <div class="carousel-item">
            <button type="button" class="genero btn btn-lg btn-dark me-3" id="6">
                Poesía
            </button>
        </div>
        <div class="carousel-item">
            <button type="button" class="genero btn btn-lg btn-dark me-3" id="7">
                Novela
            </button>
        </div>
        <div class="carousel-item">
            <button type="button" class="genero btn btn-lg btn-dark me-3" id="8">
                Romántico
            </button>
        </div>
        <div class="carousel-item">
            <button type="button" class="genero btn btn-lg btn-dark me-3" id="9">
                Leyenda
            </button>
        </div>
        <div class="carousel-item">
            <button type="button" class="genero btn btn-lg btn-dark me-3" id="10">
                Terror
            </button>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="tabla" id="contenidoGenero">
    <!-- Dependiendo de cual se pulse, se mostrarran 10 libros de ese genero que seran los mas gustados del ultimo mes -->
</div>
<div class="borde mt-3">
    <!-- Debe llevar a la pantalla ExplorarPorGeneros -->
    <button type="button" class="btnexpo btn btn-dark" onclick="window.location.href='explorar-generos.html';">
        Explorar todos los géneros
    </button>
</div>
<h2 class="mt-3 mb-3">Autores populares</h2>
<div class="tabla">
    <!-- Los 10 autores mas populares dentro de los libros mas gustados del ultimo mes -->
    <div class="card border-0">
        <a href="../Pantallas/vista-autor.html" class="card-link">
            <img src="../Imagenes/Prueba/Autores/Ana Frank.jpg" class="card-img-top rounded-circle" alt="...">
        </a>
        <div class="card-body">
            <h5 class="card-title text-center">Ana Frank</h5>
        </div>
    </div>
    <div class="card border-0">
        <a href="../Pantallas/vista-autor.html" class="card-link">
            <img src="../Imagenes/Prueba/Autores/Edgar Allan Poe.jpeg" class="card-img-top rounded-circle"
                 alt="...">
        </a>
        <div class="card-body">
            <h5 class="card-title text-center">Edgar Allan Poe</h5>
        </div>
    </div>
    <div class="card border-0">
        <a href="../Pantallas/vista-autor.html" class="card-link">
            <img src="../Imagenes/Prueba/Autores/H. P. Lovecraft.jpg" class="card-img-top rounded-circle"
                 alt="...">
        </a>
        <div class="card-body">
            <h5 class="card-title text-center">H. P. Lovecraft</h5>
        </div>
    </div>
    <div class="card border-0">
        <a href="../Pantallas/vista-autor.html" class="card-link">
            <img src="../Imagenes/Prueba/Autores/J. K. Rowling.jpeg" class="card-img-top rounded-circle"
                 alt="...">
        </a>
        <div class="card-body">
            <h5 class="card-title text-center">J. K. Rowling</h5>
        </div>
    </div>
    <div class="card border-0">
        <a href="../Pantallas/vista-autor.html" class="card-link">
            <img src="../Imagenes/Prueba/Autores/J. R. R. Tolkien.png" class="card-img-top rounded-circle"
                 alt="...">
        </a>
        <div class="card-body">
            <h5 class="card-title text-center">J. R. R. Tolkien</h5>
        </div>
    </div>
    <div class="card border-0">
        <a href="../Pantallas/vista-autor.html" class="card-link">
            <img src="../Imagenes/Prueba/Autores/Julio Verne.jpeg" class="card-img-top rounded-circle"
                 alt="...">
        </a>
        <div class="card-body">
            <h5 class="card-title text-center">Julio Verne</h5>
        </div>
    </div>
    <div class="card border-0">
        <a href="../Pantallas/vista-autor.html" class="card-link">
            <img src="../Imagenes/Prueba/Autores/Lewis Carroll.jpeg" class="card-img-top rounded-circle"
                 alt="...">
        </a>
        <div class="card-body">
            <h5 class="card-title text-center">Lewis Carroll</h5>
        </div>
    </div>
    <div class="card border-0">
        <a href="../Pantallas/vista-autor.html" class="card-link">
            <img src="../Imagenes/Prueba/Autores/Lucy Maud Montgomery.jpeg" class="card-img-top rounded-circle"
                 alt="...">
        </a>
        <div class="card-body">
            <h5 class="card-title text-center">Lucy Maud Montgomery</h5>
        </div>
    </div>
    <div class="card border-0">
        <a href="../Pantallas/vista-autor.html" class="card-link">
            <img src="../Imagenes/Prueba/Autores/Sor Juana Ines de la Cruz.jpg"
                 class="card-img-top rounded-circle" alt="...">
        </a>
        <div class="card-body">
            <h5 class="card-title text-center">Sor Juana Ines de la Cruz</h5>
        </div>
    </div>
    <div class="card border-0">
        <a href="../Pantallas/vista-autor.html" class="card-link">
            <img src="../Imagenes/Prueba/Autores/Stephen King.jpg" class="card-img-top rounded-circle"
                 alt="...">
        </a>
        <div class="card-body">
            <h5 class="card-title text-center">Stephen King</h5>
        </div>
    </div>
</div>
<div class="borde mt-3">
    <!-- Debe llevar a la pantalla Autores -->
    <button type="button" class="btnexpo btn btn-dark">
        Explorar todos los autores
    </button>
</div>